<admin-menu></admin-menu>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin/clientes']"
                            routerLinkActive="router-link-active">Clientes</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Novo Cliente</li>
                </ol>
            </nav>
            <form [formGroup]="formCliente">
                <div class="form-group">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" formControlName="nome" placeholder="Digite seu nome">
                    </div>
                    <div class="form-group">
                        <label for="cpf">CPF</label>
                        <input type="text" class="form-control" formControlName="cpf" placeholder="999.999.999-99">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" formControlName="email" placeholder="email@email.com">
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input type="password" class="form-control" formControlName="senha">
                    </div>

                </div>
                <div class="form-group" style=" width:100%; text-align: center;">
                    <button type="button" class="btn btn-primary" (click)="salvarCliente()">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>