<cliente-menu></cliente-menu>
<div class="container mt-5">
    <div class="card mb-3">
        <h5 class="card-header">
            <p style="display: inline-block; width: calc(100% - 35px);">Ingresso evento tal - 25/05/2019</p>
        </h5>
        <div class="card-body">

            <div class="row">
                <div class="col-md-2">
                    c
                </div>
                <div class="col-md-10">
                    <p class="card-text">a</p>
                    <p class="card-text">b</p>
                </div>
            </div>

        </div>
    </div>
</div>