<admin-menu></admin-menu>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/admin/home']" routerLinkActive="router-link-active">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Administradores</li>
        </ol>
      </nav>

    </div>
    <div class="col-md-2">
      <button class="btn btn-primary mt-6" [routerLink]="['/admin/form-admin']" routerLinkActive="router-link-active">Novo</button>
    </div>
  </div>
  <app-administrador-listagem></app-administrador-listagem>
</div>